# Project-2
/Project-2/REST_API_Document.docx
/Project-2/~$ST_API_Document.docx
/Project-2/.DS_Store
/Project-2/.DS_Store
/Project-2/api/__pycache__
/Project-2/api/.DS_Store
/Project-2/database/.DS_Store

# Project-4
/Project-4/.DS_store
/Project-4/__pycache__
/Project-4/README.txt
/Project-4/Project4_Details.pdf

#Mini-twitter
.DS_Store
README.txt
Temp
